{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block head %}
{{super()}}
<link rel="stylesheet" href={{url_for('static',filename='css/forms/basic.css')}}>
<style>
#description {
  padding-left:8px;
  padding-top:5px;
  padding-right:8px;
  padding-bottom:5px;
  /*border-radius:4px;*/
  margin-top: 5px;
  margin-bottom: 5px;
  display:inline-block;
  *display: inline;
  zoom:1;
  vertical-align:middle !important; 
  margin-right:70px !important;
  width:180px;
  resize:none;
}
</style>
{% endblock %}
{% block title %}Enterobase - Local Enterobase Instance Registration{% endblock %}

{% block maincontent %}


    <p align="center">
        <div   class="register">
          <h3>Local Enterobase Instance Registration</h3>
          <p><b>Please read the <a target ="_blank" 
          href="http://enterobase.readthedocs.io/en/latest/enterobase-terms-of-use.html">
          EnteroBase terms and conditions</a>.</b></p>
          <form class="form-hrizontal" method="POST" id="reg-form">
                {{ form.hidden_tag() }}
                {{macros.render_field(form.client_name, hover="Name of Local Enterobase Instance.")}}
                {{macros.render_field(form.client_uri, hover="NGINX web server URL or IP address for your Local Enterobase Instance.")}}
                {{macros.render_field(form.description, hover="Describe your Local EnteroBase instance. You could mention the institution it serves, the contact email of the administrator, or anything else you feel may be important to know.")}}
                {{macros.render_field(form.username, hover="The username of the user you would like to be the primary admin of the Local Enterobase Client. You must be logged in as this user.")}}
                <div>
              <label></label>
              <div  class= "button">{{ form.submit(class_="btn btn-primary") }} </div> 
            </div>
          </form>
      </div>
    </p>
 
{% endblock %}
