{% extends "base.html" %}
{% block head%}
{{ super() }}
<link rel ='stylesheet'href="{{url_for('static',filename='css/table/validation_grid.css')}}">

{% endblock %}


{% block title %}upload {{species}}{% endblock %}
{% block methodscontent %}


<div style="font-size:12px">
   
       
  
        
    
    <!-- Extra Controls go Here-->
    {% block extracontrols %}
    {% endblock %}
    
   <!--Display -->
    <div class="panel panel-default">
	<div class="panel-heading">Display</div>
	<div class="panel-body">
	     <!--Turning on/off changes error formatting-->
	    <label>Show Changes</label><input id ="changesCheck" type="checkbox">
	    <!--Controling number of pages displayed-->
	    <label for="pagesize">Page Size: </label>
	    <select id="pagesize" name="pagesize">
		<option value="10">10</option>
		<option value="15">15</option>
		<option value="20">20</option>
		<option value="25">25</option>
		<option value="30">30</option>
		<option value="40">40</option>
		<option value="50">50</option>
	    </select>
	    <label for="fontsize">Font Size: </label>
	    <select id="fontsize" name="fontsize">
		<option value="6">6</option>
		<option value="8">8</option>
		<option  value="10">10</option>
		<option value="12">12</option>
		<option selected value="14">14</option>
		<option value="16">16</option>
		<option value="18">18</option>
		<option value="20">20</option>
	    </select>
	</div>
    </div>
   
    <!-- Filtering -->	 
    <div class="panel panel-default">
	<div class="panel-heading">Filter</div>
	<div class="panel-body"> 
	    <!-- Controls to filter each column -->	  
	    <select id ="filterSelect"></select><br>
	    contains
	    <br>
	      <input class="form-control input-smid" id="filterText" type="text">
	    <button id ="filterButton">Filter</button>
	    <!-- Filtering  on Error -->
	    <label>Filter on Error</label><input id ="errorFilterCheck" type="checkbox">
	</div>
    </div>
</div>      
   
    
    <!--Subitting the data-->
    <button onclick="submitData()" id ="submitdata">Submit</button>   
{% endblock %}

{% block jobscontent %}
    <b>Status:</b><div id="status">Initializing Grid</div>  
    <img id ="loadingImage" alt="waiting" src ="{{url_for('static',filename='img/upload/waiting.gif')}}">
   
    <b>Rows:</b><div id="rowcount">0</div>
  
{% endblock %}

{% block maincontent %}
    <!--The actual table and paginator-->
    <div  id="tablecontent"></div>       
    <div id="paginator"></div>  
{% endblock %}

{% block scripts %}
{{super()}}
 <!--All the required scripts-->


<script src="{{url_for('static',filename='js/table/editablegrid-2.0.1.js')}}"></script>
<script src="{{url_for('static',filename='js/table/validation_grid.js')}}"></script>


{% block extraincludes%}
{% endblock %}


<script>
    //information for the progress bar
    var total_records =0;
   
    
    /
    
    {% block gridsetup %}
    {% endblock %}
    
    validationGrid.imgFolder="{{url_for('static',filename='img/upload/')}}"
    var loadingImage; 
 
    
    //function called after set up has completed    
    function finishedSetup(msg){
	
	with (validationGrid){
	    addIndividualEditColumn();
	   
	  
	    //second argument is the name of the table class in the css
	    addToPage("tablecontent","testgrid");
	   
	    setFilterElements("filterSelect","filterText","filterButton");
	  
	    setRowNumberListener(function (rowCount){
		$("#rowcount").html(rowCount)
	    });
	   
	    filter("");
	};
	//add any initialization here
	{% block initializedata %}
	    validationGrid.addNewRow();
	{% endblock %}
	loadingImage.hide();
	
	
    };
    
    
   
    
   
            
    
    
           
window.onload = function() {
   
    
    $("#fontsize").change(function(e){
    console.log($(this).val()+"px");
    
	validationGrid.fontSize=$(this).val();
	validationGrid.refreshGrid();
	
    });
 
    
    //extra initialization goes here 
    {% block windowready %}
	    
    
    {% endblock  %}
    
   
  

    

    loadingImage = $("#loadingImage");
   
    $("#pagesize").change(function(e){
	validationGrid.setPageSize($(this).val());
    });
    
    
   
 
   with (validationGrid){
       setMetaData(Enterobase.validation_url,speciesName,finishedSetup);          
       setShowChangesCheck("changesCheck");
   }
   
};
</script>
        

{% endblock %}

