{% block doc %}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{% block html %}
<head>
{% block head %}
    <title>{% block title %}EnteroBase  {% endblock %}</title>

    {% block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block styles %}
    <!-- Bootstrap -->
    <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
    
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    
    <link rel="stylesheet" href={{url_for('static',filename='js/jquery-ui-1.11.4/jquery-ui.min.css')}}>
    <link rel="stylesheet" href={{url_for('static',filename='css/main/main.css')}}>
    {% endblock %}

{% endblock %}
</head>



{% endblock %}
<body>
{% block body %}

{% block navbar %}
<div id = "total-header">
    <div id="headerdiv" >
        <a href = "/"><b> EnteroBase</b> </a>
    </div>
    <div class="navbar navbar-default" role="navigation" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
            {% if species  %}
              
                <li><a><i>{{ config['ACTIVE_DATABASES'].get(species)[0]}}</i></a></li>
            
            {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated() and not logout %}
            <li><a href="#">{{ current_user.username }}</a></li>
                <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('auth.change_password',next=request.url) }}">Change Password</a></li>
                        <li><a href="{{ url_for('auth.change_email_request',next=request.url) }}">Change Email</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                        <li><a href="{{ url_for('auth.change_user_details',next=request.url) }}">Edit details</a></li>
			<li><a href="{{ url_for('auth.delete_account',next=request.url) }}">Delete your account</a></li>
                       
                    </ul>
                </li>
    
                    {% else %}
                    <li><a href="{{ url_for('auth.login',next=request.url) }}">Log In</a></li>
            <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                    {% endif %}
    
             {% if help %}
                <li><a target ="_blank" href="{{help}}">Help</a></li>
            {% else %}
                <li><a target ="_blank" href="http://enterobase.readthedocs.io/en/latest/">Help</a></li>
            {% endif %}
		<li><a href="/">v{{ config.get('ENTEROBASE_VERSION', '0.0.1')}}</a></li>
	
    
                </ul>
    
            </div>
        </div>
    </div>
    
</div>



{% endblock %}



{% block content %}
  

 <!-- The main container - the central panel-->
    <div id ="maindiv">
    
    <!--Flash messages (not always visible)-->   
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message|safe}}
            </div>
        {% endfor %}
        <!--The main content goes here-->
        <div id = "wrapper" >
				{% block sidebar %}
				{% endblock %}   
              
            <div id="page-wrapper">
                {% block maincontent %}
                {% endblock %}     
            </div>            
        </div>
    </div>

{% endblock %}




{% block scripts %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
    <script src ="/static/js/main/enterobase.js?version={{config['JAVASCRIPT_VERSION']}}"></script>
    <script src ="{{ url_for('static', filename='js/jquery-ui-1.11.4/jquery-ui.min.js') }}"></script>
    <script src ="{{ url_for('static', filename='js/main/jquery.layout-latest.js') }}"></script>
    <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-67321220-1', 'auto');
	ga('send', 'pageview');
	$(window).load(function () {
	    //causes enter to input data in text box
	    $("input").on("keyup",function(event){
		if(event.keyCode===13){
		    $(this).blur();
		}
	    });
	
	    //stops navigating away from page when backspace is pressed
	    $(document).on("keydown", function (e) {
		if (e.which === 8 && !$(e.target).is("input, textarea")) {
		e.preventDefault();
		}
	    });
	    });
  </script>




{% endblock %}

{% endblock %}


{% endblock %}
