                         <li>
                            <a href='/'>
                            <i class="fa fa-home fa-fw"></i> 
                            Home
                            </a>
                            
                        </li>

<!-- WVN 16/8/17 Removed optional admin menu from this page
     (since implementation is species specific) 
     and completely changed Tasks menu to be for legacy stuff on this page -->

<!-- WVN 23/8/17 Also removed the general Tasks menu since these have all been
  made species specific so they can't readily go on the Tasks menu
                        <li>
                            <a href="#"> <span class="fa arrow"></span>
                                <i class="fa fa-wrench fa-fw"></i> 
                                Tasks
                            </a>
                            <ul class="nav nav-second-level">

                                <li>
                                    <a href='old_site_support/warwick_mlst_legacy_allele_st_query'>
                                   <i class="fa fa-search"></i> 
                                    Allele/ ST Query
                                    </a>
                                </li>

                                <li>
                                    <a href='old_site_support/warwick_mlst_legacy_info'>
                                    <i class="fa fa-bell fa-fw"></i> 
                                    Info
                                    </a>
                                </li>
                                
                            </ul>                          
                        </li>
-->
                       
                       
               
        


